body{
    background-color:#003563;
}

.center{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
}

img{
    max-width: 80vw;
    width: 600px;
    margin-bottom: 5vh;
}

#tripetto{
    width:90%;
}